<div id="body">
      <div class="inner">
        <div class="leftbox">
          <h3>Eric Clapton</h3>
          <img src="/assets/photo_1.jpg" width="93" height="95" alt="photo 1" class="left" />
          <p><b>Price:</b> <b>From €70.00</b> <b></b></p>
          
          <p class="readmore"><a href="/cart/1">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .leftbox -->
        <div class="rightbox">
          <h3>The Lion King</h3>
          <img src="/assets/photo_2.jpg" width="107" height="91" alt="photo 1" class="left" />
          <p><b>Price:</b> <b>From €60.00</b> <b></b></p>
          
          <p class="readmore"><a href="/cart/2">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .rightbox -->
        <div class="clear br"></div>
        <div class="leftbox">
          <h3>Tommy Tiernan </h3>
          <img src="/assets/photo_3.jpg" width="93" height="101" alt="photo 3" class="left" />
          <p><b>Price:</b> <b>€50</b><b></b></p>
          
          <p class="readmore"><a href="/cart/3">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .leftbox -->
        <div class="rightbox">
          <h3>Cricket : Ireland -vs- England </h3>
          <img src="/assets/photo_4.jpg" width="90" height="103" alt="photo 4" class="left" />
          <p><b>Price:</b> <b>€115</b><b></b>.</p>
          
          <p class="readmore"><a href="/cart/4">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .rightbox -->
        <div class="clear br"></div>
        <div class="leftbox">
          <h3>Cinderella - Gaiety Theatre</h3>
          <img src="/assets/photo_5.gif" width="106" height="100" alt="photo 5" class="left" />
          <p><b>Price:</b> <b>€30</b> <b></b></p>
          
          <p class="readmore"><a href="/cart/5">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .leftbox -->
        <div class="rightbox">
          <h3>Toys 4 Big Boys</h3>
          <img src="/assets/photo_6.gif" width="91" height="99" alt="photo 6" class="left" />
          <p><b>Price:</b> <b>€15</b> <b></b></p>
          
          <p class="readmore"><a href="/cart/6">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .rightbox -->
        <div class="clear"></div>
      </div>
      <!-- end .inner -->
    </div>